# Kafka
bootstrap.servers=pkc-lz6r3.northeurope.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=QOWBA2FFPE3RZY5Y
sasl.password=7sWRXalpEPrVFIxi5LyYdF2dJq6P9Afx0uMiUSy3f1PQNANun8siDNopzNrzqAJs
# Confluent Cloud Schema Registry
schema.registry.url=https://psrc-4kk0p.westeurope.azure.confluent.cloud
basic.auth.credentials.source=USER_INFO
schema.registry.basic.auth.user.info=MS532AADUMAFZBY2:i0NRwZGfvgiG4WF8+/+xMRNf3Ts29jy68fEt7HvjrOcGOy9X/l8/6orlG0Da+zmz
