# Kafka
bootstrap.servers=pkc-lgwgm.eastus2.azure.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=4IDQNOEJ7HGPFPTR
sasl.password=4MfAh0lkss7etGZir+5g+MRWdjo957w6iWgY+9CmQVD+6K53n144lioZ5dJPSDs7
# Confluent Cloud Schema Registry
schema.registry.url=https://psrc-dozoy.westeurope.azure.confluent.cloud
basic.auth.credentials.source=USER_INFO
schema.registry.basic.auth.user.info=YEIU2X7K4TWFBYW6:xT2IHCMj2PB7oiPC2HGVhPH+2URJ79TWgFJTdmYXy9JdZ1QyPamvO2jazZDhVpSO
